html {
    --dark-color: black;
    --mid-color: gray;
    --light-color: white;
    --accent-color: orangered;
    --title-font-family: 'Franklin Gothic', sans-serif;
    --bodytext-font-family: 'Lato', sans-serif;
    --logo-font-family: "Cabin Sketch", sans-serif;
    font-family: var(--bodytext-font-family);
    font-size: max(2vw, 15px);
    background-color: var(--light-color);
    color: var(--dark-color);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

header {
    background-color: var(--accent-color);
}

#title h1 {
    color: var(--light-color);
    font-family: var(--logo-font-family);
}

nav button {
    border: none;
    background-color: var(--accent-color);
    color: var(--light-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font-family);
}

button:hover {
    text-decoration: underline;
}

.category-button:hover {
    text-decoration: underline;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

#search-div label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }


.input-button-div {
    display: flex;
    gap: 10px;
  }

#search-input {
    padding: 8px;
    font-size: 16px;
  }

#search-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: var(--accent-color);
    color: var(--light-color);
    font-weight: bold;
  }

  img {
    display: block;
    margin-top: 10px;
    border-radius: 8px;
    height: 100px;
  }

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
}

.pagination li button {
  background-color: white;
  display: block; 
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid gray;
  color: black;
  margin: 0 4px;
  border-radius: 5px;
}

.pagination li:hover {
    text-decoration: underline;
}