
h2{
    text-align: center;
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    gap: 20px;
}

#search-div label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }


.input-button-div {
    display: flex;
    gap: 10px;
  }

#search-input {
    padding: 8px;
    font-size: 16px;
  }

#search-button {
    padding: 8px 16px;
    font-size: 16px;
  }